<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT delete ANY>
<!ATTLIST delete id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT fundraisingHub ANY>
<!ATTLIST fundraisingHub id ID #REQUIRED>
<!ELEMENT fRHUBSection ANY>
<!ATTLIST fRHUBSection id ID #REQUIRED>
<!ELEMENT fRHUBFocus ANY>
<!ATTLIST fRHUBFocus id ID #REQUIRED>
]>
<root id="-1">
  <homepage id="1055" key="739f933b-a284-4a2f-b2a1-08ed6a10ca3e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-16T14:39:05" updateDate="2017-10-20T20:19:10" nodeName="homepage" urlName="homepage" path="-1,1055" isDoc="" nodeType="1051" creatorName="michelle" writerName="michelle" writerID="0" template="1050" nodeTypeAlias="homepage">
    <pageTitle><![CDATA[homepage]]></pageTitle>
    <column>2</column>
    <bodyText><![CDATA[<p>tra la la</p>]]></bodyText>
    <footerText><![CDATA[Copyright me2017]]></footerText>
    <fundraisingHub id="1111" key="4ae6ad37-bee1-433c-86bf-1a74adf40661" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2017-10-22T12:44:03" updateDate="2017-10-22T14:54:12" nodeName="Fundraising Hub Page" urlName="fundraising-hub-page" path="-1,1055,1111" isDoc="" nodeType="1110" creatorName="michelle" writerName="michelle" writerID="0" template="1096" nodeTypeAlias="fundraisingHub">
      <frimage2><![CDATA[1127]]></frimage2>
      <frintro2><![CDATA[Fundraising Hub Page]]></frintro2>
      <fRHUBSection id="1120" key="e687922f-3290-4a49-88dd-fea20ffcea13" parentID="1111" level="3" creatorID="0" sortOrder="3" createDate="2017-10-22T13:33:28" updateDate="2017-10-25T17:52:43" nodeName="FRHUB Section" urlName="frhub-section" path="-1,1055,1111,1120" isDoc="" nodeType="1119" creatorName="michelle" writerName="michelle" writerID="0" template="1118" nodeTypeAlias="fRHUBSection">
        <frintro1><![CDATA[Share a meal with family and friends at participating Dine Pink venues and help support BCNA.]]></frintro1>
        <frbutton1><![CDATA[<a href="https://www.bcna.org.au/">Click here</a>]]></frbutton1>
        <frtitle1><![CDATA[Title1]]></frtitle1>
        <frimage1><![CDATA[1127]]></frimage1>
        <frimage2><![CDATA[1130]]></frimage2>
        <frtitle2><![CDATA[Title2]]></frtitle2>
        <frbutton2><![CDATA[<a href="https://www.bcna.org.au/">Register</a>]]></frbutton2>
        <frintro2><![CDATA[Share a meal with family and friends at participating Dine Pink venues and help support BCNA!]]></frintro2>
        <frtitle3><![CDATA[Title 3]]></frtitle3>
        <frimage3><![CDATA[1127]]></frimage3>
        <frintro3><![CDATA[dfdfdf]]></frintro3>
        <frbutton3><![CDATA[<a href="https://www.bcna.org.au/">Learn More</a>]]></frbutton3>
      </fRHUBSection>
    </fundraisingHub>
  </homepage>
</root>