@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}



<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ltie8 ie7" lang="en" ng-app="app">
<![endif]-->
<!--[if IE 8]>
<html class="ie ltie9 ie8" lang="en" ng-app="app">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html ng-app="app" ng-controller="AppCtrl">
<head>
    <!--<![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="google-site-verification" content="vmFeEFUgNxQlt4aVKuIOFJW8pozYCsKAbp74Lyf6weA" />

    <title>Who we are | Breast Cancer Network Australia</title>
<meta name="description" content="BCNA is the peak national organisation for Australians affected by breast cancer. Our network includes over 100,000 members and 300 Member Groups.">
<meta name="keywords" content="breast, cancer, breast cancer, breast cancer network australia, network, organisation,">


    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link href="//cloud.typography.com/7000092/801386/css/fonts.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.bcna.org.au/assets/css/style.css?h=cb082585853b65d1f5fc495cf65848999f69bc07">
    


    <script src="//maps.googleapis.com/maps/api/js?libraries=geometry,places&sensor=false&key=AIzaSyC43EjYYnqEjkhLOvquQKRN3GA6vwL6vMY"></script>
    <script src="https://www.bcna.org.au/assets/js/vendor/modernizr.js"></script>
    <!--[if lt IE 9]>
        <script src="https://www.bcna.org.au/assets/js/vendor/respond.js"></script>
    <![endif]-->

    <script src="https://www.bcna.org.au/assets/js/vendor/jquery-2.1.1.min.js"></script>
    <script src="https://www.bcna.org.au/assets/js/vendor/jquery.validate.min.js"></script>
    <script src="https://www.bcna.org.au/assets/js/vendor/jquery.validate.unobtrusive.min.js?v=2"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/jquery-ui.min.js"></script>


    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({ publisher: "2c77a029-0686-4ae3-b9c6-d5d4bf0f5bba", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
</head>
<body>
    <div id="skiptocontent">
        <a href="#maincontent">skip to main content</a>
    </div>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WH5TB7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push(
                { 'gtm.start': new Date().getTime(), event: 'gtm.js' }
                ); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WH5TB7');</script>

    <div class="print-only-logo">
        <img src="/assets/css/images/bcna-logo.png" itemprop="logo" alt="Breast Cancer Network Australia logo" />
    </div>
    <!-- End Google Tag Manager -->
    <header>
    <div class="wrap">

        <div class="logo" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="/">
                <img src="/assets/css/images/bcna-logo.png" itemprop="logo" alt="Breast Cancer Network Australia logo" />
            </a>
        </div>

        <nav class="quicklinks">
    <ul>
            <li class="logged-out">
                <a href="/join">Join</a>
                <a href="#" ng-click="showLogin()">Login</a>
            </li>

            <li>
                <a href="/about-us/" target="_self">About us</a>
                    <ul>
                            <li><a href="/about-us/who-we-are/" target="_self">Who we are</a></li>
                            <li><a href="/about-us/advocacy/" target="_self">Advocacy</a></li>
                            <li><a href="/about-us/our-history/" target="_self">Our history</a></li>
                            <li><a href="/about-us/our-people/" target="_self">Our people</a></li>
                            <li><a href="/about-us/employment-opportunities/" target="_self">Employment opportunities</a></li>
                            <li><a href="/about-us/partnerships/" target="_self">Our Partners </a></li>
                            <li><a href="/about-us/breast-cancer-organisations/" target="_self">Breast cancer organisations</a></li>
                            <li><a href="/about-us/information-for-health-professionals/" target="_self">Information for health professionals</a></li>
                            <li><a href="/about-us/contact-us/enquiry-form/" target="_self">Contact us</a></li>
                            <li><a href="/about-us/policies/" target="_self">Policies</a></li>

                        
                    </ul>
            </li>
            <li>
                <a href="/get-involved/" target="_self">Get involved</a>
                    <ul>
                            <li><a href="/get-involved/volunteer-for-bcna/" target="_self">Volunteer for BCNA</a></li>
                            <li><a href="/get-involved/participate-in-research/" target="_self">Participate in research</a></li>
                            <li><a href="/get-involved/fundraise-for-bcna/" target="_self">Fundraise for BCNA</a></li>
                            <li><a href="/get-involved/participate-in-a-challenge/" target="_self">Participate in a challenge</a></li>
                            <li><a href="/get-involved/donate-through-your-medications/" target="_self">Donate through your medications</a></li>
                            <li><a href="/get-involved/buy-an-entertainment-book/" target="_self">Buy an Entertainment™ book</a></li>
                            <li><a href="/get-involved/buy-from-bcna-product-partners/" target="_self">Buy from BCNA product partners</a></li>

                        
                    </ul>
            </li>
            <li>
                <a href="/donate/" target="_self">Donate</a>
                    <ul>
                            <li><a href="http://bcna.force.com/Donations/Donate/donations" target="_self">Make a donation</a></li>
                            <li><a href="/donate/give-in-celebration/" target="_self">Give in celebration</a></li>
                            <li><a href="/donate/give-in-memory/" target="_self">Give in memory</a></li>
                            <li><a href="/donate/give-monthly/" target="_self">Give monthly</a></li>
                            <li><a href="/donate/leave-a-gift-in-your-will/" target="_self">Leave a gift in your will</a></li>
                            <li><a href="/donate/workplace-giving-program/" target="_self">Workplace giving program</a></li>

                        
                    </ul>
            </li>
            <li>
                <a href="http://www.bcnashop.org.au" target="_blank">Shop</a>
            </li>
        <li><a href="http://onlinenetwork.bcna.org.au/sso">Online network</a></li>
    </ul>

</nav>


            <nav class="navigation">
        <ul>
    <li class="has-children">


        <a href="/understanding-breast-cancer/" target="_self">Understanding <br/>breast cancer</a>

                <div class="submenu">
                    <div class="wrap">


                        <ul>
                                <li><strong><a href="/understanding-breast-cancer/new-diagnosis/" target="_self">New diagnosis</a></strong></li>
                                        <li><a href="/understanding-breast-cancer/new-diagnosis/getting-through-the-first-few-weeks/" target="_self">Getting through the first few weeks</a></li>
                                <li><strong><a href="/understanding-breast-cancer/types-of-breast-cancer/" target="_self">Types of breast cancer</a></strong></li>
                                <li><strong><a href="/understanding-breast-cancer/your-medical-team/" target="_self">Your medical team</a></strong></li>
                                <li><strong><a href="/understanding-breast-cancer/treatment/" target="_self">Treatment</a></strong></li>
                                <li><strong><a href="/understanding-breast-cancer/my-journey-kit/" target="_self">My Journey Kit</a></strong></li>
                                        <li><a href="/understanding-breast-cancer/my-journey-kit/order-my-journey-kit/" target="_self">Order My Journey Kit</a></li>
                                <li><strong><a href="/understanding-breast-cancer/clinical-trials/" target="_self">Clinical Trials</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/understanding-breast-cancer/breast-cancer-in-the-family/" target="_self">Breast cancer in the family</a></strong></li>
                                <li><strong><a href="/understanding-breast-cancer/breast-cancer-in-young-women/" target="_self">Breast cancer in young women</a></strong></li>
                                <li><strong><a href="/understanding-breast-cancer/breast-cancer-in-men/" target="_self">Breast cancer in men</a></strong></li>
                                <li><strong><a href="/understanding-breast-cancer/facing-breast-cancer-with-a-disability/" target="_self">Facing breast cancer with a disability</a></strong></li>
                                <li><strong><a href="/understanding-breast-cancer/information-for-aboriginal-and-torres-strait-islander-peoples/" target="_self">Information for Aboriginal and Torres Strait Islander peoples</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/understanding-breast-cancer/caring-for-someone-with-early-breast-cancer/" target="_self">Caring for someone with early breast cancer</a></strong></li>
                                <li><strong><a href="/understanding-breast-cancer/talking-to-family-and-friends/" target="_self">Talking to family and friends</a></strong></li>
                                <li><strong><a href="/understanding-breast-cancer/fear-of-cancer-recurrence/" target="_self">Fear of cancer recurrence</a></strong></li>
                                <li><strong><a href="/understanding-breast-cancer/general-breast-cancer-research/" target="_self">Breast cancer research</a></strong></li>
                                <li><strong><a href="/understanding-breast-cancer/glossary-of-breast-cancer-terms/" target="_self">Glossary of breast cancer terms</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/services-and-support-groups/" target="_self">Find services and support near you</a></strong></li>
                                <li><strong><a href="/resources/" target="_self">Resources</a></strong></li>
                                        <li><a href="/understanding-breast-cancer/resources/order-bcna-resources/" target="_self">Order BCNA resources</a></li>
                                        <li><a href="/understanding-breast-cancer/resources/bilingual-resources/" target="_self">Bilingual resources</a></li>
                                        <li><a href="/understanding-breast-cancer/resources/accessible-resources/" target="_self">Accessible resources</a></li>
                                <li><strong><a href="/personal-stories/" target="_self">Personal stories</a></strong></li>
                                <li><strong><a href="/online-network/" target="_self">Join our online network</a></strong></li>
                        </ul>

                    </div>
                </div>


    </li>
    <li class="has-children">


        <a href="/breast-health-awareness/" target="_self">Breast health <br/>& awareness</a>

                <div class="submenu">
                    <div class="wrap">


                        <ul>
                                <li><strong><a href="/breast-health-awareness/breast-awareness/" target="_self">Breast awareness</a></strong></li>
                                <li><strong><a href="/breast-health-awareness/breast-cancer-screening/" target="_self">Breast cancer screening</a></strong></li>
                                <li><strong><a href="/breast-health-awareness/mammographic-density-and-screening/" target="_self">Mammographic density and screening</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/breast-health-awareness/risk-factors/" target="_self">Risk factors</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/breast-health-awareness/reducing-your-risk/" target="_self">Reducing your risk</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/breast-health-awareness/myths-about-breast-cancer/" target="_self">Myths about breast cancer</a></strong></li>
                        </ul>

                    </div>
                </div>


    </li>
    <li class="has-children">


        <a href="/metastatic-breast-cancer/" target="_self">Metastatic <br/>breast cancer</a>

                <div class="submenu">
                    <div class="wrap">


                        <ul>
                                <li><strong><a href="/metastatic-breast-cancer/what-is-metastatic-breast-cancer/" target="_self">What is metastatic breast cancer?</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/finding-out-your-cancer-has-spread/" target="_self">Finding out your cancer has spread</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/treatment/" target="_self">Treatment</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/managing-symptoms-and-side-effects/" target="_self">Managing symptoms and side effects</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/fear-of-cancer-progression/" target="_self">Fear of cancer progression</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/metastatic-breast-cancer/living-well/" target="_self">Living well</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/coping-with-metastatic-breast-cancer/where-to-find-support/" target="_self">Where to find support</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/the-people-in-your-life/" target="_self">The people in your life</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/peer-support/" target="_self">Peer support</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/metastatic-breast-cancer-telephone-counselling/" target="_self">Telephone support</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/metastatic-breast-cancer/young-women-and-metastatic-breast-cancer/" target="_self">Young women and metastatic breast cancer</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/men-and-metastatic-breast-cancer/" target="_self">Men and metastatic breast cancer</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/metastatic-from-the-start/" target="_self">Metastatic from the start</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/personal-stories-from-women-with-metastatic-breast-cancer/" target="_self">Personal stories from women with metastatic breast cancer</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/resource/kits/hope-hurdles/" target="_self">Hope & Hurdles (our key resource for metastatic breast cancer)</a></strong></li>
                                <li><strong><a href="/metastatic-breast-cancer/other-resources/" target="_self">Other resources</a></strong></li>
                                        <li><a href="/metastatic-breast-cancer/other-resources/bilingual-resources-for-women-with-metastatic-breast-cancer/" target="_self">Bilingual resources for women with metastatic breast cancer</a></li>
                                <li><strong><a href="/metastatic-breast-cancer/latest-metastatic-breast-cancer-news/" target="_self">Latest metastatic breast cancer news</a></strong></li>
                        </ul>

                    </div>
                </div>


    </li>
    <li class="has-children">


        <a href="/health-wellbeing/" target="_self">Health &<br/>wellbeing</a>

                <div class="submenu">
                    <div class="wrap">


                        <ul>
                                <li><strong><a href="/health-wellbeing/living-with-breast-cancer/" target="_self">Living with breast cancer</a></strong></li>
                                <li><strong><a href="/health-wellbeing/follow-up-care-medical-checkups/" target="_self">Follow-up care & medical checkups</a></strong></li>
                                <li><strong><a href="/health-wellbeing/healthy-living-after-cancer-program/" target="_self">Healthy Living after Cancer program</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/health-wellbeing/physical-wellbeing/" target="_self">Physical wellbeing</a></strong></li>
                                        <li><a href="/health-wellbeing/physical-wellbeing/exercise-and-staying-fit/" target="_self">Exercise and staying fit</a></li>
                                        <li><a href="/health-wellbeing/physical-wellbeing/healthy-eating/" target="_self">Healthy eating</a></li>
                                <li><strong><a href="/health-wellbeing/emotional-wellbeing/" target="_self">Emotional wellbeing</a></strong></li>
                                        <li><a href="/health-wellbeing/emotional-wellbeing/depression-anxiety-stress/" target="_self">Depression, anxiety & stress</a></li>
                                <li><strong><a href="/health-wellbeing/sexual-wellbeing/" target="_self">Sexual wellbeing</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/understanding-breast-cancer/talking-to-family-and-friends/" target="_self">Family and friends</a></strong></li>
                                <li><strong><a href="/health-wellbeing/support-in-rural-areas/" target="_self">Support in rural areas</a></strong></li>
                                <li><strong><a href="/personal-stories/" target="_self">Personal stories</a></strong></li>
                                <li><strong><a href="/health-wellbeing/financial-and-practical-support/" target="_self">Financial and practical support</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/health-wellbeing/wellbeing-research/" target="_self">Wellbeing research</a></strong></li>
                                <li><strong><a href="/health-wellbeing/complementary-and-alternative-medicines-and-therapies/" target="_self">Complementary and alternative medicines and therapies</a></strong></li>
                                <li><strong><a href="/resources/" target="_self">Resources</a></strong></li>
                        </ul>

                    </div>
                </div>


    </li>
    <li class="has-children">


        <a href="/news/" target="_self">News &<br/>Events</a>

                <div class="submenu">
                    <div class="wrap">


                        <ul>
                                <li><strong><a href="/news/" target="_self">Latest news</a></strong></li>
                                <li><strong><a href="/news-events/latest-research/" target="_self">Latest research</a></strong></li>
                                <li><strong><a href="/media-centre/" target="_self">Media centre</a></strong></li>
                                <li><strong><a href="/news-events/the-beacon-magazine/" target="_self">The Beacon magazine</a></strong></li>
                                <li><strong><a href="/news-events/pink-lady-luncheon-series/" target="_self">Pink Lady luncheon series</a></strong></li>
                                <li><strong><a href="/news-events/dine-pink/" target="_self">Dine Pink</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/events/2017/" target="_self">Events</a></strong></li>
                                        <li><a href="/news-events/events/information-forums/" target="_self">Information forums</a></li>
                                        <li><a href="/news-events/events/inspired-adventures/" target="_self">Inspired Adventures</a></li>
                                        <li><a href="https://www.bcna.org.au/news/2017/03/help-turn-the-mcg-pink-to-support-breast-cancer-at-the-2017-pink-lady-match/" target="_self">Pink Lady Match</a></li>
                                        <li><a href="/news-events/events/field-of-women/" target="_self">Field of Women</a></li>
                                        <li><a href="/news-events/events/ride-daylesford/" target="_self">Ride Daylesford</a></li>
                                        <li><a href="/news-events/events/breast-cancer-network-australia-raceday-on-caulfield-cup-day/" target="_self">Breast Cancer Network Australia Raceday on Caulfield Cup Day</a></li>
                                        <li><a href="/news-events/events/brave-for-bcna/" target="_self">Brave for BCNA</a></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/news-events/hold-an-event/" target="_self">Hold an event</a></strong></li>
                                        <li><a href="/news-events/hold-an-event/pink-lady-fundraising-event/" target="_self">Pink Lady Fundraising event</a></li>
                                        <li><a href="/news-events/hold-an-event/mini-field-of-women-tribute-events/" target="_self">Mini-Field of Women tribute events</a></li>
                                        <li><a href="/news-events/hold-an-event/pink-sports-day/" target="_self">Pink Sports Day</a></li>
                                <li><strong><a href="/news-events/the-pink-butcher/" target="_self">The Pink Butcher</a></strong></li>
                        </ul>


                        <ul>
                                <li><strong><a href="/news-events/pink-bun-campaign/" target="_self">Pink Bun Campaign</a></strong></li>
                                <li><strong><a href="/news-events/participate-in-a-fun-run/" target="_self">Participate in a fun run</a></strong></li>
                        </ul>

                    </div>
                </div>


    </li>
        </ul>

    </nav>




        <a class="phone" itemprop="telephone" href="tel:1800500258">1800 500 258</a>



<form class="search" method="get" action="/search">
    <input type="search" class="text search" placeholder="Search" name="q" value="" />
    <button class="submit" type="submit">Search</button>
</form>

        
    </div>
</header>

    





<main id="maincontent" class="article ">

    
    <div class="header" style="background-image:url(/media/2068/pink-ladies.jpg)">
        <div class="wrap">
            <div class="title">
                   @Umbraco.RenderMacro("frhubNav2Macro")
                <div class="rte"></div>
            </div>
        </div>
    </div>




    <div class="content">
        <div class="wrap">

         

            <nav class="section">
                    <div class="section-list module">
        <h2>Also in this section</h2>
        <ul>
                <li><a href="/about-us/advocacy/">Advocacy</a></li>
                <li><a href="/about-us/our-history/">Our history</a></li>
                <li><a href="/about-us/our-people/">Our people</a></li>
                <li><a href="/about-us/employment-opportunities/">Employment opportunities</a></li>
                <li><a href="/about-us/partnerships/">Our Partners </a></li>
                <li><a href="/about-us/breast-cancer-organisations/">Breast cancer organisations</a></li>
                <li><a href="/about-us/information-for-health-professionals/">Information for health professionals</a></li>
                <li><a href="/about-us/contact-us/enquiry-form/">Contact us</a></li>
                <li><a href="/about-us/policies/">Policies</a></li>
        </ul>
    </div>

            </nav>
        </div>
    </div>

</main>



    <footer>
    
    <div class="first">
    <div class="wrap">
        <nav class="contact">
            <h2>Contact Us</h2>
            <div class="freecall">
                <h3>Call</h3>
                <ul>
                    <li><a class="phone" href="tel:1800500258">1800 500 258</a></li>
                    <li><a href="http://bcna.org.au/about-us/contact-us/enquiry-form/">Send us an enquiry</a></li>
                </ul>
            </div>
            <div class="media">
                <h3>For media</h3>
                <ul>
                    <li><a href="http://bcna.org.au/media-centre/">Send a media enquiry</a></li>
                </ul>
            </div>
            <div class="social-cont">
                <ul class="social">
                    <li><a class="facebook text-hide" href="https://www.facebook.com/BreastCancerNetworkAustralia" target="_blank">Like us on Facebook</a></li>
                    <li><a class="twitter text-hide" href="https://twitter.com/bcnapinklady" target="_blank">Follow us on Twitter</a></li>
                    <li><a class="youtube text-hide" href="https://www.youtube.com/user/BCNetworkAustralia" target="_blank">Watch us on Youtube</a></li>
                </ul>
            </div>           
        </nav>
            <nav class="quicklinks">
                        <h2>Quicklinks</h2>
                    <div class="links">
                        <ul>
                                <li><a href="/about-us/information-for-health-professionals/" target="_self">Information for health professionals</a></li>
    <li><a href="/online-network/" target="_self">Online network</a></li>
    <li><a href="/news/" target="_self">News</a></li>
    <li><a href="/events/" target="_self">Events</a></li>
    <li><a href="/media-centre/" target="_self">Media centre</a></li>
    <li><a href="/resources/" target="_self">Resources</a></li>


                        </ul>
                    </div>

            </nav>
    </div>
</div>


    


<div class="second">
    <div class="wrap">
        <ul class="languages">
            <li><strong>Multilingual information</strong></li>
                    <li><a href="/bilingual-resources/arabic-العربية/">العربية</a></li>
                    <li><a href="/bilingual-resources/greek-ελληνικά/">ελληνικά</a></li>
                    <li><a href="/bilingual-resources/italian-italiano/">Italiano</a></li>
                    <li><a href="/bilingual-resources/traditional-chinese-繁體中文版/">繁體中文版</a></li>
                    <li><a href="/bilingual-resources/vietnamese-tiếng-việt/">tiếng Việt</a></li>


        </ul>

    </div>
</div>

    
    <div class="third">
    <div class="wrap">
        <div class="copyright">&copy;2017 - Breast Cancer Network Australia
        </div>
       
        <div class="legal-cont">
            <ul class="legal">
                    <li><a href="/legal-information/privacy-policy/" target="_self">Privacy Policy</a></li>
    <li><a href="/legal-information/website-terms-of-use/" target="_self">Website Terms of Use</a></li>


                
            </ul>
        
        </div>
        <div class="flags">
            <ul>
                <li><img src="/assets/css/images/australian_aboriginal_flag.png" alt="Aboriginal flag" /></li>
                <li><img src="/assets/css/images/torres_strait_islanders_flag.png" alt="Torres Strait flag" /></li>
                <li><a href="https://www.bcna.org.au/acknowledgement/">Acknowledgement</a></li>
            </ul>
        </div>
    </div>    
</div>

</footer>

    


    <script>
        var PageUrlHelper = {
            HomeUrl: '/',
            RegisterUrl: '/join',
            VerifyEmailUrl: '/verify-email',
            PasswordResetUrl: '/password-reset',
            SettingsUrl: '/online-network/settings',
            SettingsEditUrl: '/online-network/settings/edit',
            ProfileUrl: '/online-network/profile',
            ProfileEditUrl: '/online-network/profile/edit',
            FeedUrl: '/online-network/feed',
            BlogUrl: '/online-network/blog',
            MessagesUrl: '/online-network/messages',
            GroupsUrl: '/online-network/groups',
            GroupsCreateUrl: '/online-network/groups/create',
            GroupsSearchUrl: '/online-network/groups/search',
            MembersUrl: '/online-network/members',
            ContactsUrl: '/online-network/contacts',
            VanillaForumsSso: 'http://onlinenetwork.bcna.org.au/sso'
        };
    </script>

    <script src='https://www.google.com/recaptcha/api.js?onload=RecaptchaLoaded&render=explicit' async defer></script>

    <script src="/assets/js/vendor/angular.js"></script>
    <script src="/assets/js/vendor/angular-messages.js"></script>
    <script src="/assets/js/vendor/angular-sanitize.min.js"></script>
    <script src="/assets/js/vendor/angular-animate.min.js"></script>
    <script src="/assets/js/vendor/select.js"></script>
    <script src="/assets/js/vendor/model.js"></script>
    <script src="/assets/iFrameAutoSize.min.js"></script>

    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>

    <script src="/assets/js/libs.min.js?h=338d3d39df162b666dd2b4a616eecf29fec215ad"></script>
    <script src="/assets/js/site.min.js?h=4eca96511de208fc76f77eadb8eda7373b472f1d"></script>
    

    <nav id="mobile-nav">
        <div id="mobile-nav-inner">
            

<form class="search" method="get" action="/search">
    <input type="search" class="text search" placeholder="Search" name="q" value="" />
    <button class="submit" type="submit">Search</button>
</form>

            <cald-selector name="caldSelector"></cald-selector>
        </div>
    </nav>



    <script type="text/javascript">
        
        var loop11_key = "4b1f6a12fed0fda6866260c838ae86567f1191d9";
        document.write(unescape("%3cscript src='//cdn.loop11.com/my/loop11.js' type='text/javascript'%3e%3c/script%3e"));
    </script>
      
</body>
</html>
