@{
	Layout = "Master.cshtml";
}
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage





<main id="maincontent" class="article">
<div class="frhub-content">
        <div class="wrap">
      
 
        <section>
            <div id="getinv-menu">
@Umbraco.RenderMacro("listChildPagesCurrentPage")
       </div>
               </section>     
  



<section>
<div class="items">
    <div class="module item-list frhub">
    
   <ul>
            <li style="height: 480px; ">
                <div class="image" style="background-image: url(http://bcna-org-au-staging.azurewebsites.net/media/5008/survey-thumbnail.png)">
                </div>

                <div class="details">
                    <div class="content" style="height: 185px;">
                        <h3><span class="category">Dine Pink</span></h3>
                        <p class="subtitle"><span class="ellip">Share a meal with family and friends at participating Dine Pink venues and help support BCNA.
                        </span></p>
                    </div>
                    
                  
                </div>
                  <div class="buttonText">
                    <p><a href="https://www.bcna.org.au/news-events/dine-pink/">FIND A RESTAURANT</a></p>
                    </div>
          </li>
                
                
                
                
 <li style="height: 480px; ">
                <div class="image" style="background-image: url(http://bcna-org-au-staging.azurewebsites.net/media/5008/survey-thumbnail.png)">
                </div>

                <div class="details">
                    <div class="content" style="height: 185px;">
                        <h3><span class="category">Pink Butcher </span></h3>
                        <p class="subtitle"><span class="ellip">Support small business and help raise funds and awareness by Australians affected by breast cancer.
                        </span></p>
                    </div>
                    
                  
                </div>
                  <div class="buttonText">
                    <p><a href="https://www.bcna.org.au/news-events/the-pink-butcher/">FIND A PINK BUTCHER</a></p>
                    </div>
          </li>
          
          
          
          
  <li style="height: 480px; ">
                <div class="image" style="background-image: url(http://bcna-org-au-staging.azurewebsites.net/media/5008/survey-thumbnail.png)">
                </div>

                <div class="details">
                    <div class="content" style="height: 185px;">
                        <h3><span class="category">Ride Daylesford </span></h3>
                        <p class="subtitle"><span class="ellip">Clip in for a memorable ride through the beautiful countryside of Hepburn, Macedon Ranges and Mount Alexander Shires Saturday 28 October.
                        </span></p>
                    </div>
                    
                  
                </div>
                  <div class="buttonText">
                    <p><a href="https://www.bcna.org.au/news-events/events/ride-daylesford/">REGISTER</a></p>
                    </div>
          </li>
          
          
           <li style="height: 480px; ">
                <div class="image" style="background-image: url(http://bcna-org-au-staging.azurewebsites.net/media/5008/survey-thumbnail.png)">
                </div>

                <div class="details">
                    <div class="content" style="height: 185px;">
                        <h3><span class="category">Brave for BCNA </span></h3>
                        <p class="subtitle"><span class="ellip">Brave for BCNA is back! This year with more locations and greater activities on offer.</span></p>
                    </div>
                    
                  
                </div>
                  <div class="buttonText">
                    <p><a href="https://www.bcna.org.au/news-events/events/brave-for-bcna/">REGISTER</a></p>
                    </div>
          </li>
          
          
          
           <li style="height: 480px; ">
                <div class="image" style="background-image: url(http://bcna-org-au-staging.azurewebsites.net/media/5008/survey-thumbnail.png)">
                </div>

                <div class="details">
                    <div class="content" style="height: 185px;">
                        <h3><span class="category">Pink Sports Day </span></h3>
                        <p class="subtitle"><span class="ellip">We're inviting you to be a legend in your community and 'Pink Up' on a weekend that best suits your club's fixture.
                        </span></p>
                    </div>
                    
                  
                </div>
                  <div class="buttonText">
                    <p><a href="https://www.bcna.org.au/news-events/hold-an-event/pink-sports-day/">LEARN MORE</a></p>
                    </div>
          </li>
          
          
          
           <li style="height: 480px; ">
                <div class="image" style="background-image: url(http://bcna-org-au-staging.azurewebsites.net/media/5008/survey-thumbnail.png)">
                </div>

                <div class="details">
                    <div class="content" style="height: 185px;">
                        <h3><span class="category">Fun runs </span></h3>
                        <p class="subtitle"><span class="ellip">Make your next fun run efforts mean more and fundraise online to support BCNA.
                        </span></p>
                    </div>
                    
                  
                </div>
                  <div class="buttonText">
                    <p><a href="https://www.bcna.org.au/news-events/participate-in-a-fun-run/">FIND A FUN RUN </a></p>
                    </div>
          </li>
          
          
          
           <li style="height: 480px; ">
                <div class="image" style="background-image: url(http://bcna-org-au-staging.azurewebsites.net/media/5008/survey-thumbnail.png)">
                </div>

                <div class="details">
                    <div class="content" style="height: 185px;">
                        <h3><span class="category">BCNA Pink Lady fundraising events </span></h3>
                        <p class="subtitle"><span class="ellip">BCNA relies on the generous support of local communities to ensure that we can continue to support Australians affected by breast cancer.</span></p>
                    </div>
                    
                  
                </div>
                  <div class="buttonText">
                    <p><a href="https://www.bcna.org.au/get-involved/fundraise-for-bcna/">READ MORE </a></p>
                    </div>
          </li>
          
          
          
           <li style="height: 480px; ">
                <div class="image" style="background-image: url(http://bcna-org-au-staging.azurewebsites.net/media/5008/survey-thumbnail.png)">
                </div>

                <div class="details">
                    <div class="content" style="height: 185px;">
                        <h3><span class="category">Inspired Adventures</span></h3>
                        <p class="subtitle"><span class="ellip">Experience breathtaking sights, challenge yourself and make lifelong friends all while supporting BCNA.</span></p>
                    </div>
                    
                  
                </div>
                  <div class="buttonText">
                    <p><a href="https://www.bcna.org.au/news-events/events/inspired-adventures/">FIND OUT MORE</a></p>
                    </div>
          </li>
          
          
          
           <li style="height: 480px; ">
                <div class="image" style="background-image: url(http://bcna-org-au-staging.azurewebsites.net/media/5008/survey-thumbnail.png)">
                </div>

                <div class="details">
                    <div class="content" style="height: 185px;">
                        <h3><span class="category">Mini-Field of Women tribute events</span></h3>
                        <p class="subtitle"><span class="ellip">Show support and pay tribute to people in your community affected by breast cancer and their families.</span></p>
                    </div>
                    
                  
                </div>
                  <div class="buttonText">
                    <p><a href="https://www.bcna.org.au/events/2017/mini-field-of-women-echuca-moama/">Learn More</a></p>
                    </div>
          </li>
          
          
          
         

        </ul>
    </div>

  


                    
</div>
</section>


  



         
        </div>
    </div>




</main>
