@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Homepage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

	<div id="main-container">
		<div id="main" class="wrapper clearfix">
			
			
			
<div id="getinv-menu">
    @Umbraco.RenderMacro("frhubNavMacro")
</div>  
			
		</div> <!-- #main -->
	</div> <!-- #main-container -->

                    </ul>        
     