/** @package bcna-frontend 
 *	Donate form page
 */

main.donate.form {
		
	li.amount {
		ul.radiogroup {
			@include grid-outer;

			li {
				@include grid-column(1/8);
			}
			
			li:last-child {
				@include grid-column(3/8);
			}

			@include mq-large {
				li {
					@include grid-column(1/8);
				}
				
				li:last-child {
					@include grid-column(3/8);
				}
			}
			
			@include mq-notlarge {
				li {
					@include grid-column(1/5);
					margin-bottom: $grid-spacing;
				}
				
				li:last-child {
					@include grid-column(1/1);
				}
			}
			
			@media only screen and (max-width: 400px) {
				li {
					@include grid-column(1/1);
					margin-bottom: $grid-spacing;
				}
			}
			
			label {
				@include font(15px, 1);
				font-style: italic;
				text-align: center;
				display: block;
				padding-top: 16px;
				height: 50px;
				border: 1px solid $border;
				background: $grey-light;

				&.active {
					color: $white;
					background: $pink;
					border-color: $pink;
				}
			}
			
			input[type="radio"] {
				display: none;
			}
		}
	}
	
	li.type {
		@include mq-large {
			@include grid-column(3/8);
		}
		
		@include mq-notlarge {
			@include grid-column(1/2);
		}
		
		@include mq-phone {
			@include grid-column(1/1);
		}
	}
	
	li.title {
		@include mq-large {
			@include grid-column(1/6);
		}
		
		@include mq-notlarge {
			@include grid-column(2/6);
		}
	}
	
	li.firstname {
		@include mq-large {
			@include grid-column(2.5/6);
		}
		
		@include mq-notlarge {
			@include grid-column(4/6);
		}
	}
	
	li.lastname {
		@include mq-large {
			@include grid-column(2.5/6);
		}
	}
	
	li.email {
		@include mq-large {
			@include grid-column(2.5/6);
		}
	}
	
	li.areacode {
		@include mq-large {
			@include grid-column(1/6);
		}
		
		@include mq-notlarge {
			@include grid-column(2/6);
		}
	}
	
	li.phone {
		@include mq-large {
			@include grid-column(2.5/6);
		}
		
		@include mq-notlarge {
			@include grid-column(4/6);
		}
	}
	
	li.suburb {
		@include mq-large {
			@include grid-column(4/6);
		}
	}
	
	li.state,
	li.postcode {
		@include mq-large {
			@include grid-column(1/6);
		}
		
		@include mq-notlarge {
			@include grid-column(1/2);
		}
	}
	
	li.cardnumber {
		@include mq-large {
			@include grid-column(4/6);
		}
	}
	
	li.cardexpiry {
		@include mq-large {
			@include grid-column(2/6);
		}
	}
	
	li.month, li.year {
		@include grid-column(1/2);
		margin-bottom: 0;
	}
	
	li.cardname {
		@include mq-large {
			@include grid-column(4/6);
		}
		
		@include mq-notlarge {
			@include grid-column(1/2);
		}
		
		@include mq-phone {
			@include grid-column(1/1);
		}
	}
	
	li.cardccv {
		@include mq-large {
			@include grid-column(2/6);
		}
		
		@include mq-notlarge {
			@include grid-column(1/2);
		}
		
		@include mq-phone {
			@include grid-column(1/1);
		}
		
		label {
			display: block;
			clear: both;
		}
		
		input {
			width: 73%;
			float: left;
		}
		
		a.help {
			float: right;
			margin-top: 12px;
		}
	}
	
	li.submit {
		@include grid-column(1/1);
		margin-top: $grid-spacing;
		margin-bottom: $grid-spacing*2;
		
		@include mq-phone {
			float: none;
			
			button.submit {
				float: none;
				margin: 0 auto;
			}
		}
	}
	
	li.cardtype {
		margin-bottom: $grid-spacing*0.5;
		
		ul.radiogroup {
			li {
				float: left;
				margin-right: $grid-spacing*0.5;
				margin-bottom: $grid-spacing*0.5;
			}
			
			input[type="radio"] {
				display: none;
			}
			
			label {
				border-width: 2px;
				border-style: solid;
				border-color: $white;
				border-radius: 6px;
				
				&.active {
					border-color: $pink;
					background-color: $pink;
				}
			}
			
			li.visa label {
				@include sprite(visa, true);
			}
			
			li.mastercard label {
				@include sprite(mastercard, true);
			}
			
			li.amex label {
				@include sprite(amex, true);
			}
			
			li.diners label {
				@include sprite(diners, true);
			}
			
			li.discover label {
				@include sprite(discover, true);
			}
		}
	}
}