/** @package bcna-frontend 
 *	Full-width form page styles
 */

main.form {

    article {
        @include mq-notphone {
            @include grid-column(1/1);
        }
    }

    aside {
        display: none;
    }

    div.before {
        @include mq-notsmall {
            margin-left: 220px;
        }

        h1, h2 {
            float: left;
            width: 90%;
        }

        a.help {
            margin-top: 10px;
        }
    }

    div.form {
        @extend %clearfix;

        div.section-1 {
            @include mq-notsmall {
                width: 160px;
                float: left;
                margin-top: -110px;
            }
        }

        div.section-2 {
            @include mq-notsmall {
                margin-left: 220px;
            }
        }

        @include mq-notsmall {
            div.upload {
                width: 160px;
            }
        }

        a.help {
            margin-top: -27px;
        }
    }
}

main.form.contour {
    article {
        @include grid-column(3/4);
    }

    aside {
        display: block;
    }
}
