/** @package bcna-frontend
 *	Landing page search banner module
 */

div.search {
	@extend %wrap-outer;
	background-color: $grey-light;
	padding-top: $grid-spacing;

	div.wrap {
		@extend %wrap-inner;
		@extend %clearfix;
	}

	div.select,
	input {
		width: 100%;
		height: 50px;
		margin: 0;
		border: 0;
		padding: 16px 20px;
		background: $white;
		color: $copy-dark;
	}


	ul {
		@include reset-list;

		li {
			padding-bottom: $grid-spacing;
		}
	}

	div.select,
	input.keyword {
		@include font(14px, 1.3, $base-font);
	}

	div.select {
		position: relative;

		&:before, &:after {
			position: absolute;
			top: 50%;
			right: 20px;
			color: #777;
			background-color: transparent;
		}

		&:after {
			@include icon(arrow-d, 10px);
			margin-top: -3px;
		}

		div.value {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 20px;
		}
	}

	button.submit {
		@include button-large($white, $pink, $pink-on, arrow-r);
		text-align: left;
	}

	ul.links {
		float: left;
		position: relative;
		margin-top: -78px;
		margin-left: 0;

		li {
			float: left;
			padding: 0;
			margin: 0;
			width: auto !important;
		}

		a {
			@include font(18px, 1, $title-font, $weight-med);
			@extend %text-link;
			position: relative;
			display: block;
			height: 58px;
			padding: 20px;
			padding-right: 40px;
			white-space: nowrap;
			background: $white;
			text-decoration: none;

			&:after {
				@include icon(arrow-r, 10px);
				position: absolute;
				right: 20px;
				top: 50%;
				margin-top: -5px;
			}

			&.active {
				background: $grey-light;
				cursor: default;

				&:hover, &:focus {
					color: inherit;
				}

				&:after {
					display: none;
				}
			}
		}

		@include mq-phone {
			float: none;
			margin: 0;

			li:nth-child(2) {
				display: none;
			}

			a {
				padding: 0;
				height: auto;
				margin-bottom: $grid-spacing;
			}
		}
	}
}

