<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT test ANY>
<!ATTLIST test id ID #REQUIRED>
]>
<root id="-1">
  <homepage id="1055" key="739f933b-a284-4a2f-b2a1-08ed6a10ca3e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-16T14:39:05" updateDate="2017-10-16T14:39:05" nodeName="homepage" urlName="homepage" path="-1,1055" isDoc="" nodeType="1051" creatorName="michelle" writerName="michelle" writerID="0" template="1050" nodeTypeAlias="homepage">
    <pageTitle><![CDATA[homepage]]></pageTitle>
    <bodyText><![CDATA[<p>tra la la</p>]]></bodyText>
    <footerText><![CDATA[Copyright me2017]]></footerText>
    <simpleContentPage id="1059" key="ea61df37-d2e2-4e64-a5b5-071bf1b870ba" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2017-10-16T16:59:15" updateDate="2017-10-16T17:47:53" nodeName="Contact us" urlName="contact-us" path="-1,1055,1059" isDoc="" nodeType="1058" creatorName="michelle" writerName="michelle" writerID="0" template="1057" nodeTypeAlias="simpleContentPage">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <bodyText><![CDATA[<p>To contact us bla bla bla</p>]]></bodyText>
    </simpleContentPage>
    <articlesMain id="1070" key="dfb72842-8fe7-4546-9a47-75644ad75ea9" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2017-10-16T18:46:22" updateDate="2017-10-16T18:54:40" nodeName="Articles" urlName="articles" path="-1,1055,1070" isDoc="" nodeType="1063" creatorName="michelle" writerName="michelle" writerID="0" template="1062" nodeTypeAlias="articlesMain">
      <articlesTitle><![CDATA[Articles node title]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>one</p>
<p>two</p>
<p>three</p>
<p> </p>
<p> </p>]]></articlesBodyText>
      <articlesItem id="1071" key="857e20b9-f769-4e6d-a268-4d37fbbf36c7" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2017-10-16T18:47:55" updateDate="2017-10-16T18:47:55" nodeName="Article 1" urlName="article-1" path="-1,1055,1070,1071" isDoc="" nodeType="1069" creatorName="michelle" writerName="michelle" writerID="0" template="1068" nodeTypeAlias="articlesItem">
        <articleContents><![CDATA[<p><!-- Application name --> <!-- Icons --> Articles-Parent-and-Article-Items - creating-basic-site - tutorials - Documentation - our.umbraco.org <!-- [if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <![endif]--></p>
<div class="wrapper">
<div class="has-sidebar">
<div class="documentation">
<div class="page-content">
<div class="main-area">
<div class="main-content">
<div class="content-wrapper">
<div id="markdown-docs" class="docs-default-listing markdown-syntax">
<p>Now go to <strong><em>Content &gt; Homepage node (hover)&gt; ...</em></strong> and create a node called "<em>Articles</em>" of type <strong><em>Articles Main</em></strong> (if you don't have this option go back and check your allowed child nodes - did you forget to click <strong><em>Save</em></strong>)? Give the Articles node some content and a title and then create a couple of article item content nodes under this node (<strong><em>Content &gt; Homepage node &gt; Articles node (hover) &gt; ...</em></strong></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>]]></articleContents>
        <articleTitle><![CDATA[Article 1]]></articleTitle>
      </articlesItem>
      <articlesItem id="1072" key="d4b1e170-1785-474f-adf5-18ff775e9ce2" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2017-10-16T18:50:29" updateDate="2017-10-16T18:50:29" nodeName="test" urlName="test" path="-1,1055,1070,1072" isDoc="" nodeType="1069" creatorName="michelle" writerName="michelle" writerID="0" template="1068" nodeTypeAlias="articlesItem">
        <articleContents><![CDATA[<p>test</p>]]></articleContents>
        <articleTitle><![CDATA[test]]></articleTitle>
      </articlesItem>
    </articlesMain>
    <test id="1086" key="fc30da62-4e64-47f8-b45d-5431da3dee44" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2017-10-17T08:14:56" updateDate="2017-10-17T08:14:56" nodeName="test" urlName="test" path="-1,1055,1086" isDoc="" nodeType="1082" creatorName="michelle" writerName="michelle" writerID="0" template="1081" nodeTypeAlias="test">
      <title><![CDATA[test]]></title>
      <content><![CDATA[<p>test</p>]]></content>
    </test>
  </homepage>
</root>