<span class="modal__close-button" ng-click="$dismiss()"></span>
<div class="modal__content">
    <div class="modal__content-header">
        <h1>Reply</h1>
    </div>
    <div class="modal__content-body" ng-hide="responseMessage">
        <div>
            <ul class="form">
                <li class="required">
                    <label><strong>To:</strong></label>
                    <input type="text" class="text" value="{{recipientsText}}" disabled />
                </li>
                <li class="required">
                    <label for="message"><strong>Message:</strong></label>
                    <textarea id="message" rows="5" placeholder="Your message" ng-model="body" required ng-disabled="$loading"></textarea>
                </li>
            </ul>
        </div>
        <div class="modal__buttons">
            <div class="modal__buttons--right">
                <button class="pink" ng-click="submit(body)" ng-disabled="$loading">Send</button>
            </div>
        </div>
    </div>
    <div class="modal__content-body" ng-show="responseMessage" ng-bind="responseMessage"></div>
</div>
